
.min-height {
    min-height: calc(100vh - 103px);
}

.mt-103 {
    margin-top: 103px;
}

.form-border {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(158, 158, 158);
  z-index: 1;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.modal-content2 {
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
}

/*-------------------------*/

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    width: calc(100% - 24px);
    margin: 12px;
}

.image-item {
    width: calc(100% - 12px);
    padding-bottom: 12px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.download-icon {
  position: absolute;
  top: 25%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color: rgb(239, 135, 70);
  color: white;
  padding: 5px 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.download-icon:hover {
  background-color: rgb(205, 100, 34)
}

.image-item:hover {
    transform: scale(1.05);
}

.imgGaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Estilos del modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

.modal-content {
  position: relative;
  text-align: center;
  max-height: 80vh;
  max-width: 150vh;
  /* 75% de la altura visible menos 20px (ajusta según tus necesidades) */
  margin: auto;
}

.modal img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  /* Ajusta según el tamaño deseado */
  height: 30px;
  /* Ajusta según el tamaño deseado */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-icon {
  font-size: 18px;
  /* Ajusta según el tamaño deseado */
  color: white;
}

.arrows-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-container {
  width: 40px;
  /* Ajusta según el tamaño deseado */
  height: 40px;
  /* Ajusta según el tamaño deseado */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  /* Añade un índice z para que estén sobre el modal */
}

.left-arrow-container,
.right-arrow-container {
  position: absolute;
  top: 50%;
  /* Centra verticalmente con respecto al modal */
  transform: translateY(-50%);
}

.left-arrow-container {
  left: 10px;
  /* Ajusta según la distancia deseada del modal */
}

.right-arrow-container {
  right: 10px;
  /* Ajusta según la distancia deseada del modal */
}

.arrow {
  font-size: 24px;
  /* Ajusta según el tamaño deseado */
  color: white;
}

.arrow-container:hover {
  background-color: rgb(121, 121, 121, 0.7);
}
