<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-content2">
      <section class="container d-flex justify-content-center align-items-center">
        <form class="p-4 d-flex flex-column ">
          <h2 class="mb-4">¡Crea tu propio anuncio!</h2>
          <div class="form-group">
            <label for="copy">Frase publicitaria</label><small class="text-muted"> (opcional)</small>
            <input type="text" name="copy" id="copy" class="form-control mb-4">
          </div>
          <div class="form-group d-flex flex-column">
            <label for="copy">Objeto 3D<small class="text-muted"> (Formato .GLTF)</small></label>
            <input name="upload" type="file" (change)="onFileSelected($event)">
          </div>
          <div
          *ngIf="
            fileForm.get('fileName')?.hasError('required') &&
            (fileForm.get('fileName')?.touched || submitted)
          "
          class="error-message">
          El archivo es obligatorio.
          </div>
          <div
          *ngIf="
            fileForm.get('fileExtension')?.hasError('required') &&
            (fileForm.get('fileExtension')?.touched || submitted)
          "
          class="error-message">
          El archivo no tiene el formato GLTF.
        </div>
          <button type="submit" class="btn btn-primary mt-4" (click)="onUpload($event)">Subir</button>
        </form>
      </section>
    </div>
  </div>
</div>

<!-- Cuando se carga el modelo -->

<section class="container mt-103">
  <span class="overlay" *ngIf="showLoading$ | async"></span>
  <div class="spinner" *ngIf="showLoading$ | async">
    <app-loading-spinner></app-loading-spinner>
  </div>
<div class="d-flex justify-content-center" #rendererCanvas></div>

<!-- Botón de volver a subir-->
<div class="d-flex justify-content-center gap-4">
    <button type="button" class="btn btn-primary mt-4" (click)="resetUpload()">Volver a subir</button>
    <button type="button" class="btn btn-primary mt-4" (click)="generarImagenes()">Generar Imágenes</button>
    <button type="button" class="btn btn-primary mt-4" (click)="captura()">Capturar Frame</button>
</div>


<div class="image-container">
    <div *ngFor="let image of images; let i = index" class="image-item">
        <img class="imgGaleria" [src]="image.src" (click)="openModal(image.currentSrc, i)" alt="Imagen">
        <button class="download-icon" (click)="downloadImage(image.currentSrc)">
          <img height="20" width="20" src="../../../assets/icons8-descargar-64.png" alt="Descargar">
        </button>
    </div>
</div>

<div *ngIf="selectedImage" class="modal">
  <div class="modal-content">
      <div class="close-container" (click)="closeModal()">
          <span class="close-icon" aria-hidden="true">&times;</span>
      </div>
      <img [src]="selectedImage" alt="Imagen">
      <div class="">
          <div class="arrow-container left-arrow-container" (click)="imagenIzquierda()">
              <span class="arrow left-arrow ">&lt;</span>
          </div>
          <div class="arrow-container right-arrow-container" (click)="imagenDerecha()">
              <span class="arrow right-arrow">&gt;</span>
          </div>
      </div>
  </div>
</div>

</section>
